<div id="show-upload">
  <div class="modal">
    <div id="upload-container">
      <div id="form-container">
        <form id="avatar-form" enctype="multipart/form-data">
          <label for="avatar-id">Select Avatar Image</label>
          <input
            type="file"
            id="avatar-id"
            name="avatar"
            style="display: none"
          />
        </form>
        <p id="image-info">No File Chosen</p>
      </div>
      <div id="upload-button">
        <button id="upload">Upload</button>
        <button id="cancle">Cancle</button>
      </div>
    </div>
  </div>
</div>

<div id="show-notify">
  <div class="modal">
    <div id="notify-container">
      <p id="notify-message"></p>
      <div id="button-container">
        <button id="yes">Yes</button>
        <button id="no">No</button>
      </div>
    </div>
  </div>
</div>
