<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <div id="time-nav">
      <div id="year">Years</div>
      <ul id="year-picker"></ul>
      <div id="year-display"></div>

      <div id="month">Months</div>
      <ul id="month-picker"></ul>
      <div id="month-display"></div>

      <div id="day">Days</div>
      <ul id="day-picker"></ul>
      <div id="day-display"></div>
    </div>
    <div id="info-area"></div>
    <script src="/static/home.js"></script>
  </body>
</html>
