body * {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

/* Header CSS */
#header {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: 7vh;
  padding: 9px 0 9px 0;
  background-color: rgb(244 244 244);
}

#header #left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-left: 5%;
}

#header #left #logo span {
  font-size: 27px;
  font-weight: 700;
}

#header #left #logo span:nth-child(1) {
  color: red;
}

#header #left #logo span:nth-child(2) {
  color: green;
}

#header #left #logo span:nth-child(3) {
  color: blue;
}

/* Test search Css */
#header #right {
  display: flex;
  width: 80%;
  margin-right: 5%;
  justify-content: space-between;
}

#header #right #search {
  display: flex;
  height: 100%;
  width: 86%;
  justify-content: flex-start;
}

.ais-SearchBox {
  width: 100%;
}

.ais-SearchBox-form {
  height: 100%;
}

.ais-SearchBox-input {
  width: 100%;
}

#header #right #hits {
  position: fixed;
  top: 6vh;
  left: 23%;
  width: 62%;
  max-height: 400px;
}

#header #right #auth {
  display: flex;
  width: 12%;
  justify-content: space-between;
  align-items: center;
}

#header #right #auth #avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 255, 0.7);
}

#header #right #auth #avatar p {
  display: none;
}

#header #right #auth #avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

#header #right #auth a {
  display: flex;
  width: 49%;
  height: 100%;
  padding: 4px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#header #right #auth a:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.ais-Hits-list {
  max-height: 400px;
  overflow-y: auto;
}
/* .ais-Hits-list,
.ais-Hits-item {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
} */

.ais-Hits {
  border: 2px solid rgba(0, 0, 255, 0.7);
  border-radius: 5px;
}

.ais-Hits.ais-Hits--empty {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  padding: 5px;
  font-size: 17px;
}

.ais-Hits-item:not(.ais-Hits-item:last-of-type) {
  padding: 0.7rem;
  border-bottom: 2px solid green;
}

.ais-Hits-item a {
  display: block;
  width: 100%;
}

#hits .hit-element {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: green; */
}

#hits .hit-element .book-info {
  width: 80%;
}

#hits .hit-element .book-info p {
  margin-bottom: 5px;
}

#hits .hit-element .add-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 20%;
}

/* end test */

/* #header #right * {
  display: block;
  height: 100%;
}

#header #right {
  display: flex;
  width: 80%;
  margin-right: 5%;
  justify-content: space-between;
}

#header #right #search {
  display: flex;
  width: 86%;
  justify-content: flex-end;
}

#header #right #search #search-btn {
  width: 7%;
  padding: 4px;
  border: 1px solid blue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#header #right #search #search-btn:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

#header #right #search #search-input {
  width: 90%;
  padding-left: 5px;
  border: 1px solid blue;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header #right #search #search-input:focus {
  outline: none;
  border-color: red;
} */

/* End old search bar */

#header #right #auth {
  display: flex;
  width: 12%;
  justify-content: space-between;
  align-items: center;
}

#header #right #auth #avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 255, 0.7);
}

#header #right #auth #avatar p {
  display: none;
}

#header #right #auth #avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

#header #right #auth a {
  display: flex;
  width: 49%;
  height: 100%;
  padding: 4px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#header #right #auth a:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

/* Space */
#space {
  position: fixed;
  top: 0;
  width: 100%;
  height: 18vh;
  z-index: 1;
  background-color: white;
}

/* Main */

/* Navigation */
#main-navigation {
  position: fixed;
  z-index: 98;
  top: 12vh;
  width: 74%;
  height: 5vh;
  border-radius: 5px;
  margin-left: 21%;
  margin-right: 5%;
  display: flex;
  background-color: rgb(244 244 244);
}

#main-navigation a {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 255, 0.7);
}

#main-navigation a:hover {
  background-color: rgba(0, 0, 255, 0.3);
  color: white;
}

#main-navigation #sperator {
  width: 0.2%;
  background-color: rgba(0, 0, 255, 0.3);
}

#main-navigation #world {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 49.9%;
  cursor: pointer;
}

.fa-solid {
  margin-right: 7px;
  margin-bottom: 3px;
  color: rgba(0, 0, 255, 0.7);
}

#main-navigation a:hover i {
  color: white;
}

#main-navigation #home {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 49.9%;
  cursor: pointer;
}

/* Display */

#main-display {
  width: 74%;
  /* min-height: 72vh; */
  min-height: 66vh;
  margin-top: 18vh;
  margin-left: 21%;
  margin-right: 5%;
  margin-bottom: 6vh;
  border-radius: 5px;
  background-color: rgb(244 244 244);
}

.active {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#main-navigation a.active,
#main-navigation a.active i {
  color: white;
}

/* Footer CSS */
#footer {
  display: flex;
  height: 10vh;
  padding: 3px 0 3px 0;
  /* margin-top: 10vh; */
  background-color: rgb(244 244 244);
  justify-content: center;
  align-items: center;
}

#quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6vh;
}

#quote-container #content {
  font-size: 17px;
  color: rgba(0, 0, 255, 0.7);
}

#quote-container #author {
  align-self: flex-end;
  color: rgba(255, 0, 0, 0.7);
}
