<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="/static/images/cold.png"
      type="image/x-icon"
    />
    <title>Login</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/common/show.css" />
    <link rel="stylesheet" href="/static/auth/login.css" />
  </head>
  <body>
    <div id="login-container">
      <form action="/users/auth/login" method="post">
        <div class="logo-container">
          <a href="/">
            <div id="logo">
              <span>Hot</span><span>Good</span><span>Cold</span>
            </div>
          </a>
        </div>

        <div class="container">
          <div id="email-container">
            <label for="email">Email</label>
            <input
              type="email"
              placeholder="Enter Email.."
              name="email"
              required
            />
          </div>

          <div id="password-container">
            <label for="password">Password</label>
            <input
              type="password"
              placeholder="Enter Password.."
              name="password"
              required
            />
          </div>

          <button type="submit">Login</button>
        </div>

        <div id="footer">
          <button type="button" class="cancelbtn">
            <a href="/">Cancel</a>
          </button>
          <div>
            <p>Not a member?</p>
            <a href="/users/auth/register">Sign up</a>
          </div>
          <a href="#" class="forgot">Forgot password?</a>
        </div>
      </form>
    </div>

    <%- include('../common/show'); %>

    <script src="/static/common/show.js"></script>
    <script src="/static/auth/login.js"></script>
  </body>
</html>
