<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="/static/images/cold.png"
      type="image/x-icon"
    />
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/common/show.css" />
    <link rel="stylesheet" href="/static/auth/signup.css" />
  </head>
  <body>
    <div id="signup-container">
      <form action="/users/auth/register" method="post">
        <div class="container">
          <div class="logo-container">
            <a href="/">
              <div id="logo">
                <span>Hot</span><span>Hot</span><span>Cold</span>
              </div>
            </a>
          </div>

          <label for="username">Username</label>
          <input
            type="text"
            placeholder="Enter Username"
            name="username"
            required
          />

          <label for="email">Email</label>
          <input type="email" placeholder="Enter Email" name="email" required />

          <label for="password">Password</label>
          <input
            type="password"
            placeholder="Enter Password (at least 8 character)"
            name="password"
            required
          />

          <label for="repeat_password">Repeat Password</label>
          <input
            type="password"
            placeholder="Repeat Password"
            name="repeat_password"
            required
          />

          <div class="footer">
            <button type="button" class="cancelbtn">
              <a href="/">Cancel</a>
            </button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>

    <div id="loading-container">
      <div id="loading">Hello</div>
    </div>

    <%- include('../common/show'); %>

    <script src="/static/common/show.js"></script>
    <script src="/static/auth/signup.js"></script>
  </body>
</html>
